<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary btn-write-post" id="btn-toggle-upload">
          Upload file
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        </button>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" class="form-control float-right" placeholder="Search" id="ip__search--image" />

            <div class="input-group-append">
              <button type="submit" class="btn btn-default" id="btn__search--image">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <form class="dropzone needsclick" id="upload" style="display: none">
          <div class="dz-message needsclick">
            Drop files here or click to upload.
          </div>
        </form>

        <div id="image__list--store" data-offset="10"></div>
      </div>

      <div class="card-footer clearfix">
        <ul id="pagination-custom" class="pagination m-0 float-right">
          <!-- <li class="page-item">
              <a class="page-link" href="">&laquo;</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li> -->
          <!-- <li class="page-item disabled active">
              <a class="page-link" href="">1</a>
            </li> -->
          <!-- <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="">&raquo;</a>
            </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
